<h1>Inicia sesión</h1>
<div id="login-form">
  <%= form_for(:session, url: session_path) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%# seteamos el valor inicial a el valor enviado,
          por si el formulario se está mostrando de nuevo desde :create %>
      <%= f.text_field :email, value: params[:session].try(:[], :email) %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'Login' %>
    </div>
  <% end %>
</div>
