<h1><%= @resources_title || 'Todos los recursos' %></h1>
<p class="order-links">
  Ordenar por:
  <%= link_to 'nombre', resources_path(order: :name), remote: true, data: { type: 'html' } %>
  |
  <%= link_to 'creación', resources_path(order: :created_at), remote: true, data: { type: 'html' } %>
</p>
<div class="resources">
  <%= render partial: 'resources_list' %>
</div>

<%= link_to 'Crear Recurso', new_resource_path %>
