<h1><%= @resources_title || 'Todos los recursos' %></h1>

<% @resources.each do |resource| %>
  <div class="resource">
    <%= image_tag 'file.png' %>
    <span>
      <%= resource.name %>
    </span>
    <span>
      <%= resource.user.first_name %>
    </span>
    <% resource.tags.each do |tag| %>
      <span><%= link_to tag.name, tag_resources_path(tag) %></span>
    <% end %>
    <div class="actions">
      <%= link_to "Editar", edit_resource_path(resource) %>
      <%= link_to "Eliminar", resource_path(resource), method: :delete %>
    </div>
  </div>
<% end %>

<%= link_to 'Crear Recurso', new_resource_path %>
