<!DOCTYPE html>
<html>
  <head>
    <title>Teachrapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="login-bar">
      <% if current_user? %>
        Bienvenido(a), <%= current_user.first_name %>
        <%= link_to "Logout", session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_session_path %>
      <% end %>
    </div>

    <% if flash.notice %>
      <div class="notice">
        <%= flash.notice %>
      </div>
    <% end %>
    <% if flash.alert %>
      <div class="alert">
        <%= flash.alert %>
      </div>
    <% end %>
    <%= yield %>

    <footer>
      <hr>
      TeachrApp, Todos los derechos reservados &copy; 2014
    </footer>

  </body>
</html>
